testconfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sourceforge.net/projects/anteater">
  <xs:element name="TestConfiguration" type="TestConfigurationType"/>
  <xs:complexType name="VarType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
        <xs:attribute type="xs:string" name="end" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LoggerType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="rootLogger" use="optional"/>
        <xs:attribute type="xs:string" name="Threshold" use="optional"/>
        <xs:attribute type="xs:string" name="ConversionPattern" use="optional"/>
        <xs:attribute type="xs:string" name="File" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
        <xs:attribute type="xs:string" name="end" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="JdbcType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="url" use="optional"/>
        <xs:attribute type="xs:string" name="password" use="optional"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="driver" use="optional"/>
        <xs:attribute type="xs:string" name="username" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConfigurationType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="VarType" name="Var"/>
      <xs:element type="LoggerType" name="Logger"/>
      <xs:element type="JdbcType" name="Jdbc"/>
      <xs:element type="StartupType" name="Startup"/>
      <xs:element type="MenuType" name="Menu"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="base" use="optional"/>
  </xs:complexType>
  <xs:complexType name="GetPropertyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="component"/>
        <xs:attribute type="xs:string" name="host"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ExternType">
    <xs:sequence>
      <xs:element type="GetPropertyType" name="GetProperty"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="class"/>
  </xs:complexType>
  <xs:complexType name="OutType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StartupType">
    <xs:sequence>
      <xs:element type="ExternType" name="Extern" minOccurs="0"/>
      <xs:element type="OutType" name="Out" minOccurs="0"/>
      <xs:element type="VarType" name="Var" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="JdbcType" name="Jdbc" minOccurs="0"/>
      <xs:element type="PragmaType" name="Pragma" minOccurs="0"/>
      <xs:element type="TaskType" name="Task" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="task" use="optional"/>
        <xs:attribute type="xs:string" name="tooltip" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MenuType" mixed="true">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TaskType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="mode" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PragmaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="event"/>
        <xs:attribute type="xs:string" name="action"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TestConfigurationType">
    <xs:sequence>
      <xs:element type="ConfigurationType" name="Configuration" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

